* {
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}

.navbar {
    align-items:first center;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    background-color: #fff2f2;
    box-shadow: 2px 0px 1px;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo{
    width: 100%;
    scale: 110%;
}

.nav__item {
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #fd314a 0%,
        #ef0549 35%,
        #ef0549 75%,
        #fd314a 100%
    );
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 8px;
    font-weight: bold;
    width: auto;
    transition: ease-in-out 300ms;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .nav__item:hover {
    outline-color: #ffffff;
    transition: ease-in-out 300ms;
    font-size: 8px;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 10%), 0 8px 12px 6px rgb(60 64 67 / 5%);
    outline: none;
    }
}

@media (min-width: 1024px) {
    .nvabar__brand {
        width: 150px;
        justify-content: space-between;
        padding: 10px 30px;
        margin-top: 5%;
    }

    .navbar__logo {
        scale: 175%;
        margin-left: 20%;
    }

    .nav__item {
        padding: 20px;
        font-size: 16px;
        border-radius: 34px;
    }

    .nav__item:hover {
    outline-color: #ffffff;
    transition: ease-in-out 300ms;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 10%), 0 8px 12px 6px rgb(60 64 67 / 5%);
    outline: none;
    }

    .footer {
        flex-direction: initial;
        justify-content: space-around;
        padding-bottom: 0;
    }

    .footer__links {
        text-align: left;
        font-size: medium;
    }
}






.footer {
    display: flex;
    background-image: linear-gradient(
        to bottom,
        #fd314a 0%,
        #ef0549 35%,
        #ef0549 75%,
        #fd314a 100%
    );
    align-items: center;
    padding-bottom: 15px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: -2px 0 1px;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    
}

.footer__logo {
    scale: 80%;
}

.footer__links {
    text-align: left;
    font-size: small;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}